<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="eNetBanking">

<listeners>
    <listener class-name="com.eNetBanking.utilities.Reporting" />  
</listeners>

  <test thread-count="5" name="BankingApp">
 <parameter name="browser" value="Firefox"/>
  
    <classes>
      <!-- <class name="com.eNetBanking.testCases.TC_LoginTest_001"/>   -->
      <class name="com.eNetBanking.testCases.TC_LoginTestDDT_002"/>
      
    </classes>
  </test>
</suite>